<!DOCTYPE html>
<html lang="en">



<body>


  <nav class="navbar navbar-light bg-light navbar-expand-lg navStyle">
    <a class="navbar-brand" href="#">Esante</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="loginAdmin"> Admin <span class="sr-only">(current)</span></a>

        <a class="nav-item nav-link active" href="loginMedecin"> PersonelSante <span
            class="sr-only">(current)</span></a>

        <a class="nav-item nav-link active" href="loginMalade"> Malade <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="d-flex justify-content-center mt-5 mb-5">
      <div class="display-3 text-danger">
        Votre Santé est notre Priorité
      </div>
    </div>
    <hr>
    <div class="row mt-5 mb-5">
      <div class="col-md-4">
        <div class="card">
          <h5 class="card-header d-flex justify-content-center text-primary "> Admin </h5>
          <div class="card-body">
            <h5 class="card-title">Login Admin </h5>
            <p class="card-text">Si vous êtes un Administrateur cliquer ci dessous pour aller vers la page
              d'administration. </p>
            <a href="loginAdmin" class="btn btn-danger"> Go </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h5 class="card-header d-flex justify-content-center text-primary ">Personnel Sante</h5>
          <div class="card-body">
            <h5 class="card-title">Login Personnel Sante </h5>
            <p class="card-text">Si vous êtes un PersonelSante cliquer ci dessous pour aller vers la page des
              personnelSante </p>
            <a href="LoginMedecin" class="btn btn-danger">Go </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h5 class="card-header d-flex justify-content-center text-primary">Malade</h5>
          <div class="card-body">
            <h5 class="card-title">Login Malade </h5>
            <p class="card-text">Si vous êtes un malade cliquer ci dessous pour aller vers la page des malades.
            </p>
            <a href="loginMalade" class="btn btn-danger">Go </a>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <div class="d-flex justify-content-center mb-3">
      <div class="display-4">A propos</div>
    </div>
    <div class="d-flex justify-content-center text-center">
      <div style="font-size: 1.3em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet veniam
        laudantium quidem! Voluptatibus ab ipsam doloribus corrupti amet facere, reprehenderit deserunt eaque nostrum
        commodi distinctio velit eius modi tempora.</div>
    </div>
  </div>
  <footer class="page-footer bg-light mt-5 ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a class="link" href="https://mdbootstrap.com/"> Université Abou baker belkaid</a>
    </div>
    <!-- Copyright -->

  </footer>
</body>
<!-- JS, Popper.js, and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</html>