input.ng-invalid{
    border-left:5px solid red
}

input.ng-valid{
    border-left:5px solid blue
}

.textfooter{
    color:white;
}

.Mystyle{
        
        border: 1px solid black;
        border-radius: 4px;
        height: 280px;
        background-color: #f0efef;
        padding-top: 40px;
        
}
.stylefooter{
   
    position: relative;
    top: 155px;
    bottom: 0px;
   
   
    background-color: #009bff;
  
}
.navStyle{
    background-color: #009bff;
}
.text{
    color: white;
}
.stt{
    
    border: 2px solid #555;

}
